*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: 1080px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

img{
  max-width: 100%;
}

header{
  background-color: orange;
  padding: 20px;
  height: 50px;
}

header nav ul li{
  display: inline-block;
  color: rgb(255, 255, 255);
}

header nav ul li a{
  margin: 5px;
  text-decoration: none;
}

a{
  color: white;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 17%;
  margin-left: 33%;
}

main{
  margin-top: 50px;
}

.container{
  width: 90%;
  max-width: 1400px;
  margin: 0;
}

.flex-wrap{
  flex-wrap: wrap;
}

.card{
  width: calc(100% / 3);
  min-width: 250px;
}

.card .card-image{
  position: relative;
  cursor: pointer;
}

.card .card-image img.seconda-img{
  position: absolute;
  top: 0%;
  left: 0%;
  display: none;
}

.card .card-image:hover .seconda-img{
  display: inline-block;
}

.card .card-image .cuore{
  position: absolute;
  right: 0%;
  top: 10px;
  background-color: white;
  padding: 15px;
  font-size: 30px;
}

.card .card-image .cuore:hover{
  color: red;
  cursor: pointer;
}
.card .card-image .card-sconti{
  position: absolute;
  left: 0%;
  bottom: 15px;
}

.card .card-image .sconti{
  color: white;
  background-color: green;
  padding: 5px 10px;
  font-size: 9.rem;
  font-weight: bold;
}

.card .card-image .sconti.blocco-sconti{
  background-color: red;
}